In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.arange(12).reshape(3,4),
                  index=["two","one","three"],
                  columns=["d","a","b","c"])

In [4]:
df

       d  a   b   c
two    0  1   2   3
one    4  5   6   7
three  8  9  10  11

In [5]:
df.sort_index(axis=1, ascending=False)

       d   c   b  a
two    0   3   2  1
one    4   7   6  5
three  8  11  10  9

In [7]:
df.sort_values(by="a", ascending=False)

       d  a   b   c
three  8  9  10  11
one    4  5   6   7
two    0  1   2   3

In [10]:
df2 = pd.DataFrame(
    {"a":[5,3,-1,9], "b":[1,-2,-2,5]}
)
df2

   a  b
0  5  1
1  3 -2
2 -1 -2
3  9  5

In [13]:
df2.sort_values(by=["b", "a"])

   a  b
2 -1 -2
1  3 -2
0  5  1
3  9  5