In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[1,2,3],[4,np.nan,5],[np.nan,np.nan,np.nan]])
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [3]:
df.dropna()

     0    1    2
0  1.0  2.0  3.0

In [4]:
df[1] = np.nan
df

     0   1    2
0  1.0 NaN  3.0
1  4.0 NaN  5.0
2  NaN NaN  NaN

In [5]:
df.dropna(axis=1, how="all")

     0    2
0  1.0  3.0
1  4.0  5.0
2  NaN  NaN

In [6]:
df

     0   1    2
0  1.0 NaN  3.0
1  4.0 NaN  5.0
2  NaN NaN  NaN

In [12]:
df.dropna(thresh=2)

     0   1    2
0  1.0 NaN  3.0
1  4.0 NaN  5.0

In [13]:
df

     0   1    2
0  1.0 NaN  3.0
1  4.0 NaN  5.0
2  NaN NaN  NaN

In [14]:
df.fillna(0)

     0    1    2
0  1.0  0.0  3.0
1  4.0  0.0  5.0
2  0.0  0.0  0.0

In [15]:
df

     0   1    2
0  1.0 NaN  3.0
1  4.0 NaN  5.0
2  NaN NaN  NaN

In [16]:
df.fillna({0:15,1:30,2:45})

      0     1     2
0   1.0  30.0   3.0
1   4.0  30.0   5.0
2  15.0  30.0  45.0

In [17]:
df = pd.DataFrame([[1,2,3],[4,np.nan,5],[np.nan,np.nan,np.nan]])
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [18]:
df.fillna(method="ffill")

/var/folders/yz/s57wsyt918j04kt6btpgwgy40000gn/T/ipykernel_66264/3944122520.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill")

     0    1    2
0  1.0  2.0  3.0
1  4.0  2.0  5.0
2  4.0  2.0  5.0

In [19]:
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [20]:
df.fillna(df.mean())

     0    1    2
0  1.0  2.0  3.0
1  4.0  2.0  5.0
2  2.5  2.0  4.0

In [21]:
df.mean()

0    2.5
1    2.0
2    4.0
dtype: float64