In [1]:
'''
This is multiline comment
'''

'\nThis is multiline comment\n'

In [2]:
# case sensitivity

name = "Navdeep"
Name = "Sharma"

In [3]:
name

'Navdeep'

In [4]:
Name

'Sharma'

In [5]:
# indentation
# consistent use of spaces or a tab is required to group statements.

age = 32
if age > 30:
    print(age)

32

In [6]:
# line continuation
total = 1+2+3+4+5\
+6+7+8

print(total)

36

In [7]:
# multiple statements on a single line

x=5;y=10;z=x+y
print(z)

15

In [8]:
# understanding semantics in python
# varialble assignment

age = 32 # age is an integer
name = "Navdeep" # name is string

In [9]:
# type inference
type(age)

int

In [10]:
type(name)

str

In [11]:
# type inference
variable =10
print(type(variable))
variable = "Navdeep"
print(type(variable))

<class 'int'>
<class 'str'>

In [12]:
# name error
a=b

NameError: name 'b' is not defined

In [13]:
# code example of indentation

if True:
    print("Correct indentation")
    if False:
        print("This will not print")
    print("This will print")
print("Outside the if block")

Correct indentation
This will print
Outside the if block